RUST_SERVER_IP=your_server_ip
RUST_SERVER_PORT=your_rust_plus_port
RUST_PLAYER_ID=your_steam64_id
RUST_PLAYER_TOKEN=your_player_token
DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/your_webhook_url
